# ─ ─── Folders ─── ─ #
.idea/
.vscode/
node_modules/
dist/
build/
*.egg-info/
.debug/
.agent/
build/

# ─ ─── Files ─── ─ #
# ...

# ─ ─── Extensions ─── ─ #
*.env
*.log
*.tmp
*.bak
.DS_Store
thumbs.db
